<app-page-header [backTpl]="backTpl" [backUrl]="'/poc/poc-commercial-bank/commercial-bank'"
  [pageHeaderInfo]="pageHeaderInfo"></app-page-header>
<ng-template #backTpl>
  <span class="m-t-15" nz-icon nzType="arrow-left" nzTheme="outline"></span>
</ng-template>
<div class="normal-detail-table-wrap">
  <nz-card [nzTitle]="'Basic Information'" [nzBordered]="true" class="m-b-10">
    <nz-descriptions nzTitle="" [nzColumn]="{ xxl: 2, xl: 2, lg: 2, md: 1, sm: 1, xs: 1 }" [nzColon]="false"
      [nzBordered]="true">
      <nz-descriptions-item nzTitle="Bank ID">{{
        info.spChainCode
        }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Bank Name">{{
        info.spName
        }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="BIC">{{
        info.bankBic
        }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Central Bank">{{
        info.centralBankName
        }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="FX SP">{{
        info.bankType | map:'bankTypeStatus'
        }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Brief Introduction" [nzSpan]="3">{{
        info.spBriefIntroduction
        }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Description" [nzSpan]="3">{{
        info.spDescription
        }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="BN ID">{{
        info.bnCode
        }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Wallet Address">{{
        info.spBesuWalletAddress
        }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Onboarding Time">{{
        info.createDate | map:'timeStamp'
        }}</nz-descriptions-item>
    </nz-descriptions>
  </nz-card>
  <nz-card [nzTitle]="'Contact Information'" [nzBordered]="true" class="m-b-10">
    <nz-descriptions nzTitle="" [nzColumn]="{ xxl: 2, xl: 2, lg: 2, md: 1, sm: 1, xs: 1 }" [nzColon]="false"
      [nzBordered]="true">
      <nz-descriptions-item nzTitle="Contact Name">{{
        info.contactName
        }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Mobile Number">{{
        info.mobileNumber
        }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Contact Email Address" [nzSpan]="3">{{
        info.email
        }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Detailed Address" [nzSpan]="3">{{
        info.detailedAddress
        }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Business License">
        <img nz-image style="width: 160px; height: 160px" [nzSrc]="this.infoMemberLicense"
          *ngIf="this.infoMemberLicense" alt="" />
      </nz-descriptions-item>
    </nz-descriptions>
  </nz-card>
  <nz-card [nzTitle]="'Capital Pool Information'" [nzBordered]="true" class="m-b-10"
    [ngStyle]="{'display' : info.bankType === 2 ? '' : 'none'}">
    <div nz-row nzJustify="center" nzAlign="middle">
      <div nz-col nzXs="24" nzSm="24" nzXl="18" nzXXl="16">
        <app-ant-table (changePageSize)="changePageSize($event)" [tableConfig]="tableConfig"
          [tableData]="dataList"></app-ant-table>
        <ng-template #authorizedDebitTpl>
          <span>{{ 'Yes' }}</span>
        </ng-template>
      </div>
    </div>
  </nz-card>
  <nz-card [nzTitle]="'Attachments'" [nzBordered]="true" class="m-b-10"
    *ngIf="info.bankType === 2 && attachmentsList.length > 0">
    <div nz-row nzJustify="center" nzAlign="middle">
      <div nz-col nzXs="24" nzSm="24" nzXl="18" nzXXl="16">
        <label *ngFor="let item of attachmentsList">
          <button nz-button nzType="text" class="m-t-15 m-r-25"
            (click)="onLoad(item.approvedSpFileHash, item.fileUrl)">{{ item.fileUrl }}<span nz-icon
              nzType="download" class="m-l-15"></span></button>
        </label>
      </div>
    </div>
  </nz-card>
</div>