<app-page-header [backTpl]="backTpl" [backUrl]="'/poc/poc-foreign-exchange/settlement'"
  [pageHeaderInfo]="pageHeaderInfo"></app-page-header>
<ng-template #backTpl>
  <span class="m-t-15" nz-icon nzType="arrow-left" nzTheme="outline"></span>
</ng-template>
<div class="normal-detail-table-wrap">
  <nz-card [nzBordered]="true" class="m-b-10">
    <nz-descriptions nzTitle="" [nzColumn]="{ xxl: 2, xl: 2, lg: 2, md: 1, sm: 1, xs: 1 }" [nzColon]="false"
      [nzBordered]="true">
      <nz-descriptions-item nzTitle="FX SP ID">{{
        info.spCode
        }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="FX SP Name">{{
        info.spName
        }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="BIC">{{
        info.bankBic
        }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Settlement Model Code">{{
        info.settlementModelCode
        }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Settlement Model Name">{{
        info.settlementModelName
        }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Currency Pair">{{
        info.formRateCurrency + '->' + info.toRateCurrency
        }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Charging Model">{{
        info.chargingModel | map: 'chargingModel'
        }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Commission">{{
        info.chargingModel === 1 ? (info.ratioCommission | map: 'toThousandthMark') + ' %' : (info.regularCommission |
        map: 'toThousandthMark') + ' ' + info.commissionCurrency
        }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Max Commission" *ngIf="info.chargingModel === 1">{{
        (info.maxCommission | map: 'toThousandthMark') + ' ' + info.commissionCurrency
        }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Time of Taking Effect">{{
        info.takeEffectDate | map: 'timeStamp'
        }}</nz-descriptions-item>
    </nz-descriptions>
  </nz-card>
</div>