<app-page-header
  [backTpl]="backTpl"
  [backUrl]="'/poc/poc-provider/provider'"
  [pageHeaderInfo]="pageHeaderInfo"
></app-page-header>
<ng-template #backTpl>
  <span class="m-t-15" nz-icon nzType="arrow-left" nzTheme="outline"></span>
</ng-template>
<div class="normal-detail-table-wrap">
  <nz-card [nzTitle]="'Basic Information'" [nzBordered]="true" class="m-b-10">
    <nz-descriptions
      nzTitle=""
      [nzColumn]="{ xxl: 2, xl: 2, lg: 2, md: 1, sm: 1, xs: 1 }"
      [nzColon]="false"
      [nzBordered]="true"
    >
      <nz-descriptions-item nzTitle="Liquidity Provider">{{
        info.spName
      }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="BIC">{{
        info.bankBic
      }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Official Website" [nzSpan]="3">{{
        info.spBriefIntroduction
      }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Description" [nzSpan]="3">{{
        info.spDescription
      }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Created On">{{
        info.createDate | map: 'timeStamp'
      }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Status">{{
        info.status | map: 'applicationStatus'
      }}</nz-descriptions-item>
    </nz-descriptions>
  </nz-card>
  <nz-card
    [nzTitle]="'Currency Information'"
    [nzBordered]="true"
    class="m-b-10"
  >
    <nz-descriptions
      nzTitle=""
      [nzColumn]="{ xxl: 2, xl: 2, lg: 2, md: 1, sm: 1, xs: 1 }"
      [nzColon]="false"
      [nzBordered]="true"
    >
      <nz-descriptions-item nzTitle="Custodian Bank" [nzSpan]="3">{{
        info.centralBankName
      }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Currency">{{
        info.peggedCurrency
      }}</nz-descriptions-item>
      <!-- <nz-descriptions-item nzTitle="Blockchain">{{
        info.blockchain
      }}</nz-descriptions-item> -->
    </nz-descriptions>
  </nz-card>
  <nz-card [nzTitle]="'Contact Information'" [nzBordered]="true" class="m-b-10">
    <nz-descriptions
      nzTitle=""
      [nzColumn]="{ xxl: 2, xl: 2, lg: 2, md: 1, sm: 1, xs: 1 }"
      [nzColon]="false"
      [nzBordered]="true"
    >
      <nz-descriptions-item nzTitle="Contact Name">{{
        info.contactName
      }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Mobile Number">{{
        info.mobileNumber
      }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Contact Email Address" [nzSpan]="3">{{
        info.email
      }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Detailed Address" [nzSpan]="3">{{
        info.detailedAddress
      }}</nz-descriptions-item>
    </nz-descriptions>
  </nz-card>
  <!-- <nz-card [nzTitle]="'Activate Service'" [nzBordered]="true" class="m-b-10">
    <nz-descriptions
      nzTitle=""
      [nzColumn]="{ xxl: 2, xl: 2, lg: 2, md: 1, sm: 1, xs: 1 }"
      [nzColon]="false"
    >
      <nz-descriptions-item nzTitle="">
        <label nz-checkbox nzDisabled [nzChecked]="true">
          Interbank Cross-border Settlement<i
            class="m-l-5"
            style="color: #3c5686"
            nz-icon
            nzType="question-circle"
            nzTooltipPlacement="right"
            nzTheme="fill"
            nz-tooltip
            [nzTooltipTitle]="
              'Interbank cross-border settlement refers to the process by whichfinancial institutions, typically banks, exchange currencies and settletransactions on behalf of their clients across national borders.'
            "
            nzTooltipColor="#3c5686"
            nzTooltipTrigger="click"
            nzTooltipOverlayClassName="buils"
          ></i> </label
      ></nz-descriptions-item>
      <nz-descriptions-item nzTitle=""
        ><label nz-checkbox nzDisabled [nzChecked]="info.paymentStatus === 1"
          >Cross-border Payment & Remittance<i
            class="m-l-5"
            style="color: #3c5686"
            nz-icon
            nzType="question-circle"
            nzTooltipPlacement="right"
            nzTheme="fill"
            nz-tooltip
            [nzTooltipTitle]="
              'Cross-border Payment & Remittance refers to the process oftransferring funds between two different countries or currencies'
            "
            nzTooltipColor="#3c5686"
            nzTooltipTrigger="click"
            nzTooltipOverlayClassName="buils"
          ></i> </label
      ></nz-descriptions-item>
    </nz-descriptions>
  </nz-card> -->
  <nz-card
    [nzTitle]="'Capital Pool Information'"
    [nzBordered]="true"
    class="m-b-10"
  >
    <div nz-row nzJustify="center" nzAlign="middle">
      <div nz-col nzXs="24" nzSm="24" nzXl="18" nzXXl="16">
        <app-ant-table
          (changePageSize)="changePageSize($event)"
          [tableConfig]="tableConfig"
          [tableData]="dataList"
        ></app-ant-table>
        <ng-template #authorizedTpl>
          <span>{{ 'Yes' }}</span>
        </ng-template>
      </div>
    </div>
  </nz-card>
  <nz-card
    [nzTitle]="'Attachments'"
    [nzBordered]="true"
    class="m-b-10"
    *ngIf="attachmentsList.length > 0"
  >
    <div nz-row nzJustify="center" nzAlign="middle">
      <div nz-col nzXs="24" nzSm="24" nzXl="18" nzXXl="16">
        <label *ngFor="let item of attachmentsList">
          <button
            nz-button
            nzType="text"
            class="m-t-15 m-r-25"
            (click)="onLoad(item.settlementBankFileHash, item.fileUrl)"
          >
            {{ item.fileUrl
            }}<span nz-icon nzType="download" class="m-l-15"></span>
          </button>
        </label>
      </div>
    </div>
  </nz-card>
  <nz-card
    [nzBodyStyle]="{ 'padding-bottom': 0 }"
    [nzTitle]="'Approval Information'"
    class="m-b-10"
  >
    <form nz-form [formGroup]="validateForm">
      <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24 }">
        <div nz-col [nzSpan]="24">
          <nz-form-item>
            <nz-form-label nzRequired [nzNoColon]="true"
              >Approval Result
            </nz-form-label>
            <nz-form-control
              [nzXXl]="16"
              [nzXl]="16"
              [nzLg]="24"
              [nzMd]="24"
              [nzSm]="24"
              [nzXs]="24"
            >
              <nz-radio-group
                formControlName="approvalResult"
                name="radioValue"
              >
                <div>
                  <label nz-radio [nzValue]="0">Approve</label>
                  <label nz-radio [nzValue]="1">Reject</label>
                </div>
              </nz-radio-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="24">
          <nz-form-item>
            <nz-form-label nzRequired [nzNoColon]="true"
              >Comments</nz-form-label
            >
            <nz-form-control
              [ngClass]="{
                'm-l-30': (isCollapsed$ | async) || !(isOverMode$ | async)
              }"
              [nzErrorTip]="accessName"
              [nzXXl]="16"
              [nzXl]="16"
              [nzLg]="24"
              [nzMd]="24"
              [nzSm]="24"
              [nzXs]="24"
            >
              <nz-input-group>
                <textarea
                  nz-input
                  [nzAutosize]="{ minRows: 3, maxRows: 25 }"
                  formControlName="comments"
                ></textarea>
                <ng-template #accessName let-control>
                  <ng-container *ngIf="control.hasError('required')"
                    >The Comments is required</ng-container
                  >
                </ng-template>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div
          nz-col
          [nzXXl]="24"
          [nzXl]="24"
          [nzLg]="24"
          [nzMd]="24"
          [nzSm]="24"
          [nzXs]="24"
          class="text-right"
        >
          <nz-form-item>
            <nz-form-label [nzNoColon]="true"></nz-form-label>
            <nz-form-control>
              <div nz-col [nzSpan]="24">
                <button nz-button [nzType]="'default'" (click)="onBack()">
                  Back
                </button>
                <button
                  nz-button
                  [nzType]="'primary'"
                  [nzLoading]="isLoading"
                  [disabled]="!this.validateForm.valid"
                  class="m-l-15"
                  (click)="onApproved()"
                >
                  Confirm
                </button>
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </nz-card>
</div>
