<app-page-header [pageHeaderInfo]="pageHeaderInfo"></app-page-header>

<div class="normal-table-wrap">
  <nz-card
    nzTitle="Query"
    [nzBodyStyle]="{ 'padding-bottom': 0 }"
    class="m-b-10"
  >
    <form nz-form nzLayout="vertical">
      <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24 }">
        <div
          nz-col
          [nzXXl]="8"
          [nzXl]="8"
          [nzLg]="12"
          [nzMd]="12"
          [nzSm]="24"
          [nzXs]="24"
        >
          <nz-form-item>
            <nz-form-label>Transaction No.</nz-form-label>
            <nz-form-control>
              <input
                nz-input
                placeholder=""
                name="transactionNo"
                [(ngModel)]="searchParam.transactionNo"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div
          nz-col
          [nzXXl]="8"
          [nzXl]="8"
          [nzLg]="12"
          [nzMd]="12"
          [nzSm]="24"
          [nzXs]="24"
        >
          <nz-form-item>
            <nz-form-label>Sender Bank Name</nz-form-label>
            <nz-form-control>
              <input
                nz-input
                placeholder=""
                name="fromBankName"
                [(ngModel)]="searchParam.fromBankName"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div
          nz-col
          [nzXXl]="8"
          [nzXl]="8"
          [nzLg]="12"
          [nzMd]="12"
          [nzSm]="24"
          [nzXs]="24"
        >
          <nz-form-item>
            <nz-form-label>Receiving Bank Name</nz-form-label>
            <nz-form-control>
              <input
                nz-input
                placeholder=""
                name="toBankName"
                [(ngModel)]="searchParam.toBankName"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div
          nz-col
          [nzXXl]="8"
          [nzXl]="8"
          [nzLg]="12"
          [nzMd]="12"
          [nzSm]="24"
          [nzXs]="24"
        >
          <nz-form-item>
            <nz-form-label>Liquidity Provider Name</nz-form-label>
            <nz-form-control>
              <nz-select
                nzPlaceHolder=""
                name="spId"
                [(ngModel)]="searchParam.spId"
              >
                <nz-option nzValue="" nzLabel="All"></nz-option>
                <nz-option
                  *ngFor="let item of spIdList"
                  [nzValue]="item.spKey"
                  [nzLabel]="item.spName"
                >
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <!-- <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24">
          <nz-form-item>
            <nz-form-label>BN ID</nz-form-label>
            <nz-form-control>
              <nz-select nzPlaceHolder="" name="fromBnId" [(ngModel)]="searchParam.fromBnId">
                <nz-option nzValue="" nzLabel="All"></nz-option>
                <nz-option *ngFor="let item of bnIdList" [nzValue]="item.bnNodeCode" [nzLabel]="item.bnNodeCode">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div> -->
        <div
          nz-col
          [nzXXl]="8"
          [nzXl]="8"
          [nzLg]="12"
          [nzMd]="12"
          [nzSm]="24"
          [nzXs]="24"
        >
          <nz-form-item>
            <nz-form-label>Token Pair</nz-form-label>
            <nz-form-control>
              <nz-select
                nzPlaceHolder=""
                name="currency"
                [(ngModel)]="searchParam.currency"
              >
                <nz-option nzValue="" nzLabel="All"></nz-option>
                <nz-option
                  *ngFor="let item of currencyList"
                  [nzValue]="item.key"
                  [nzLabel]="item.sourceCurrency + '/' + item.targetCurrency"
                >
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div
          nz-col
          [nzXXl]="8"
          [nzXl]="8"
          [nzLg]="12"
          [nzMd]="12"
          [nzSm]="24"
          [nzXs]="24"
        >
          <nz-form-item>
            <nz-form-label [nzNoColon]="true">Created Time</nz-form-label>
            <nz-form-control>
              <nz-range-picker
                style="width: 100%"
                name="creation"
                [(ngModel)]="searchParam.creation"
              ></nz-range-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div
          nz-col
          [nzXXl]="24"
          [nzXl]="24"
          [nzLg]="24"
          [nzMd]="24"
          [nzSm]="24"
          [nzXs]="24"
          class="m-b-8 text-right p-0"
        >
          <nz-form-item>
            <nz-form-label [nzNoColon]="true"></nz-form-label>
            <nz-form-control>
              <div nz-col [nzSpan]="24">
                <button
                  nz-button
                  [nzType]="'primary'"
                  (click)="getDataList(this.tableQueryParams)"
                >
                  Query
                </button>
                <a nz-button nzType="link" class="m-l-15" (click)="resetForm()"
                  >Reset</a
                >
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </nz-card>
  <app-card-table-wrap [tableTitle]="'FX Transactions'" [isNormalTable]="true">
    <app-ant-table
      (changePageSize)="changePageSize($event)"
      (changePageNum)="getDataList($event)"
      [tableConfig]="tableConfig"
      [tableData]="dataList"
    ></app-ant-table>
    <ng-template #spTpl let-spName="spName" let-spCode="spCode">
      <ng-container>
        <span [title]="spName + '-' + spCode | map: 'null'">{{
          spName + '-' + spCode | map: 'null'
        }}</span>
      </ng-container>
    </ng-template>
    <ng-template #transactionNoTpl let-transactionNo="transactionNo">
      <p
        [title]="transactionNo"
        nz-typography
        [nzCopyable]="transactionNo ? true : false"
        [nzCopyText]="transactionNo"
      >
        {{ transactionNo | map: 'showPart' }}
      </p>
    </ng-template>
    <ng-template
      #amountTpl
      let-fromAmount="fromAmount"
      let-toAmount="toAmount"
      let-formCurrency="formCurrency"
      let-toCurrency="toCurrency"
    >
      <span
        [title]="
          (fromAmount | map: 'toThousandthMark') +
            ' ' +
            formCurrency +
            '/' +
            (toAmount | map: 'toThousandthMark') +
            ' ' +
            toCurrency | map: 'null'
        "
        >{{ (fromAmount | map: 'toThousandthMark') + ' ' + formCurrency }}
        <img
          style="width: 20px"
          class="m-l-5 m-r-5"
          src="../../../../assets/imgs/rightwards.svg"
          alt=""
        />
        <!-- <span
          class="arrow-right m-l-5 m-r-5"
          nz-icon
          nzType="arrow-right"
          nzTheme="outline"
        ></span> -->
        {{
          (toAmount | map: 'toThousandthMark') + ' ' + toCurrency | map: 'null'
        }}</span
      >
    </ng-template>
    <ng-template #operationTpl let-transactionNo="transactionNo">
      <ng-container *appAuth="'R0404001'">
        <span
          class="operate-text"
          routerLink="/poc/poc-foreign-exchange/fx-transactions/info"
          [queryParams]="{transactionNo}"
        >
          Details
        </span>
      </ng-container>
    </ng-template>
  </app-card-table-wrap>
</div>
